In this task, you will work on a toy dataset of IPL with following cols:

1. Opponent

2. Venue

3. Outlook

4. Toss

5. Match result

You have to find out whether the team would lose the match or not for the following given input:

{"kkr", "chennai","overcast","lost"}

Apply the concepts learned in Naive Bayes

Note: You don't have to use any builtin ML algos.

This task is to practice the concepts learned in Naive Bayes

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('toy.csv')
data

   opponent      venue   outlook  toss result
0       kkr  bangalore  overcast  lost    won
1        mi     mumbai     sunny   won    won
2       rcb     mumbai  overcast   won    won
3       kkr  bangalore     sunny  lost    won
4       kkr  bangalore     sunny   won    won
5        mi    chennai     sunny   won   lost
6       rcb    chennai     sunny   won   lost
7       kkr    chennai  overcast   won    won
8        rr  bangalore     sunny  lost    won
9       rcb     mumbai  overcast   won    won
10      kkr    chennai     sunny   won    won
11      rcb  bangalore     sunny   won    won
12       rr    chennai  overcast   won    won
13      kkr    chennai  overcast   won    won
14      kkr  bangalore  overcast   won    won
15      rcb    chennai  overcast   won   lost
16      kkr  bangalore  overcast   won   lost
17       mi  bangalore     sunny   won   lost
18      rcb    chennai     sunny  lost    won
19       mi    chennai  overcast   won   lost
20      kkr  bangalore     sunny  lost    won
21      rcb  bangalore     sunny   won   lost
22       rr  bangalore  overcast   won    won
23      kkr     mumbai     sunny   won   lost
24       rr    chennai  overcast  lost    won

In [3]:
data['result'].value_counts()

won     17
lost     8
Name: result, dtype: int64

In [4]:
pw=17/25
pl=8/25

In [5]:
pd.crosstab(data['opponent'],data['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [6]:
pkkrw=8/17
pkkrl=2/8

In [7]:
pd.crosstab(data['venue'],data['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [8]:
pchw=6/17
pchl=4/8

In [9]:
pd.crosstab(data['outlook'],data['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [10]:
povw=9/17
povl=3/8

In [11]:
pd.crosstab(data['toss'],data['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [12]:
ptossw=6/17
ptossl=0

In [13]:
Pwin=pw*pkkrw*pchw*povw*ptossw
print(Pwin)

0.021103195603500918

In [14]:
Plose=pl*pkkrl*pchl*povl*ptossl
print(Plose)

0.0

From hereby it can be concluded that for the given conditions the team will not lose the match.